<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../assets/style.css" type="text/css" rel="stylesheet" />
    <title>Actualiza persona</title>
  </head>
  <body>
    <form action="/updatePerson" method="post">
      <label for="nombre">Nombre:</label>
      <input
        type="text"
        id="nombre"
        name="nombre"
        value="<%= `${myPerson.nombre}` %>"
      /><br />

      <label for="edad">Edad:</label>
      <input
        type="number"
        id="edad"
        name="edad"
        value="<%= `${myPerson.edad}` %>"
      /><br />

      <label for="tipoSangre">Tipo de Sangre:</label>
      <input
        type="text"
        id="tipoSangre"
        name="tipoSangre"
        value="<%= `${myPerson.tipoSangre}` %>"
      /><br />

      <label for="nss">NSS:</label>
      <input
        type="text"
        id="nss"
        name="nss"
        value="<%= `${myPerson.nss}` %>"
      /><br />

      <label for="nss">ID:</label>
      <input
        type="text"
        id="objId"
        name="objId"
        value="<%= `${myPerson._id}` %>"
      /><br />

      <button type="submit">Actualizar</button>
    </form>

    <button onclick="location.href='/gente'">Regresar</button>
  </body>
</html>
